<h1>Welcome to my twitter bot</h1>

<p>this is a simple bot that follows people and searches the top trending terms.</p>

<!-- <div>
  What I am searching:
  <% @client.trends.each do |trend| %>
    <%= link_to trend.name, trend.url %>
  <% end %>
</div> -->

<div>
  <h4>Activity about me:</h4>
  Following count:
  <%= @client.user.friends_count %>
  <br>
  Followers count:
  <%= @client.user.followers_count %>
  <br>
  Tweet Count:
  <%= @client.user.statuses_count %>
  <br>
  <h5>Latest tweet:</h5>
  <%= @client.user.status.text %>
</div>

